body {
	font-family: sans-serif;
}

.bar--negative {
  fill: lightblue;
}

.bar--negative:hover {
  fill: steelblue;
}

.bar--positive {
  fill: orange;
}

.bar--positive:hover {
  fill: #e67300;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}